name: CI tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1']
        ES_VERSION: ['5.6.15', '7.17.8']
        include:
          - ES_VERSION: '5.6.15'
            ES_DOWNLOAD_URL: >-
              https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.15.tar.gz
          - ES_VERSION: '7.17.8'
            ES_DOWNLOAD_URL: >-
              https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.8-linux-x86_64.tar.gz
    steps:
      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |-
          sudo apt-get update
          sudo apt-get install -y openjdk-8-jre-headless
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - uses: actions/checkout@v3
      - name: Cache Elasticsearch
        id: cache-elasticsearch
        uses: actions/cache@v3
        env:
          cache-name: cache-elasticsearch
        with:
          path: ./elasticsearch-${{ matrix.ES_VERSION }}
          key: ${{ env.cache-name }}-${{ matrix.ES_VERSION }}
          restore-keys: |
            ${{ env.cache-name }}-${{ matrix.ES_VERSION }}

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: Download Elasticsearch
        continue-on-error: true
        run: |
          wget ${{ matrix.ES_DOWNLOAD_URL }}
          tar -xzf elasticsearch-*.tar.gz
      - run: './elasticsearch-${{ matrix.ES_VERSION }}/bin/elasticsearch -d'
      - run: gem install bundler
      - run: bundle install
      - run: script/poll-for-es
      - run: bundle exec rake test
