name: CI tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2']
        ES_VERSION: ['5.6.15', '7.17.8', '8.6.0']
        include:
          - ES_VERSION: '5.6.15'
            ES_DOWNLOAD_URL: >-
              https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.15.tar.gz
          - ES_VERSION: '7.17.8'
            ES_DOWNLOAD_URL: >-
              https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.8-linux-x86_64.tar.gz
          - ES_VERSION: '8.6.0'
            ES_DOWNLOAD_URL: >-
              https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.6.0-linux-x86_64.tar.gz
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - uses: actions/checkout@v3
      - name: Cache Elasticsearch
        id: cache-elasticsearch
        uses: actions/cache@v3
        env:
          cache-name: cache-elasticsearch
        with:
          path: ./elasticsearch-${{ matrix.ES_VERSION }}
          key: ${{ env.cache-name }}-${{ matrix.ES_VERSION }}
      - if: ${{ steps.cache-elasticsearch.outputs.cache-hit != 'true' }}
        name: Download Elasticsearch
        run: |
          wget ${{ matrix.ES_DOWNLOAD_URL }}
          tar -xzf elasticsearch-*.tar.gz
      - if: ${{ matrix.ES_VERSION == '5.6.15' }}
        name: Run Elasticsearch
        run: './elasticsearch-${{ matrix.ES_VERSION }}/bin/elasticsearch -d'
      - if: ${{ matrix.ES_VERSION != '5.6.15' }}
        name: Run Elasticsearch
        run: './elasticsearch-${{ matrix.ES_VERSION }}/bin/elasticsearch -d -Expack.security.enabled=false'
      - run: gem install bundler
      - run: bundle install
      - run: script/poll-for-es
      - run: bundle exec rake test
